<div class="login-container">
  <h2 class="login-header">Login to Open Chat</h2>

  <form #loginForm>
    <mat-form-field>
      <input matInput type="email" placeholder="Email" name="email" #email [(ngModel)]="model.email">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" #password [(ngModel)]="model.password">
    </mat-form-field>

    <button mat-raised-button color="primary" class="login-button" (click)="login()">Login</button>
  </form>
</div>
