.login-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .login-header {
    text-align: center;
  }

  mat-form-field {
    width: 100%;
  }

  .login-button {
    margin-top: 0.7rem;
    width: 100%;
  }
}
