@import '../../../variables';

.messages {
  background-color: #eee;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .current-room-header {
    text-align: center ;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-top: 0;
    @include box-shadow(0, 1px, 5px, 5px, #999);
    font-size: 0.8rem;
  }

  .messages-list {
    overflow: scroll;

    .message-container {
      width: 100%;
      display: flex;
      border-bottom: 1px solid #aaaaaa;
      padding: 0;
    }

    div.message-data {
      padding: 1rem;
      margin: 0;
    }

    .message-author {
      width: 12%;
    }

    .message-content {
      width: 70%;
    }

    .message-created-date {
      width: 18%;
    }
  }

  .new-message-container {
    display: flex;
    width: 100%;
    margin-top: auto;

    .new-message-input {
      width: 100%;
      font-size: 1.2rem;
      padding-left: 0.7rem;
    }
  }
}
