<div class="signup-container">
  <h2 class="signup-header">Sign Up for Open Chat</h2>

  <form #signupForm>
    <mat-form-field>
      <input matInput placeholder="Username" name="username" #username [(ngModel)]="model.username">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="email" placeholder="Email" name="email" #email [(ngModel)]="model.email">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" #password [(ngModel)]="model.password">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Confirm password" name="confirm-password" #confirmPassword [(ngModel)]="model.confirmPassword">
    </mat-form-field>

    <button mat-raised-button color="primary" class="signup-button" (click)="signUp()">Sign Up</button>
  </form>
</div>
