@import '~bootstrap-4-grid/css/grid.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* Custom Material Styles */

* {
  font-family: sans-serif;
}

// Tabs
.mat-tab-label-container {
  .mat-tab-list {
    .mat-tab-label-active {
      background-color: #eee;
    }

    .mat-tab-label {
      width: 50%;
    }
  }
}
